
.palac
  %header.header__style
    %h1 Administration
    = link_to 'Add User', new_admin_user_url , class:"button"

  .table
    .table-row
      .table-cellName Name
      .table-cellName Email
      .table-cellName Phone
      .table-cellName Created at
      .table-cellName Edit
      - if policy(User).destroy?
        .table-cellName Destroy
    - @users.each do |user|
      .table-row
        .table-cell= user.name
        .table-cell= user.email
        .table-cell= user.phone
        .table-cell= user.created_at.strftime("%d-%m-%Y")
        - if UserPolicy.new(current_user, user).edit?
          .table-cell= link_to 'Edit', edit_admin_user_path(user), class: 't'
        - else
          .table-cell
        - if UserPolicy.new(current_user, user).destroy?
          .table-cell= link_to 'Destroy', admin_user_url(user), method: :delete, data:{confirm: 'Are you sure?'}, class: 'z'
